/*=============================================
            FRIEND REQUEST TITLE
==============================================*/
.friend-request-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
}

/*=============================================
                CONTAINER
==============================================*/
.friend-request-item-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friend-request-item-container:hover {
    overflow-y: overlay;
    scroll-behavior: smooth;
}

.friend-request-item-container::-webkit-scrollbar {
    width: 5px;
}

.friend-request-item-container::-webkit-scrollbar-thumb {
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 10px;
}

/*=============================================
            FRIEND REQUEST ITEM
==============================================*/
.friend-request-item {
    width: 152px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    align-items: center;
    border-radius: 2rem;
    box-shadow: rgba(235, 151, 151, 0.4) 0px 2px 8px 0px;
}

.friend-request-item-avatar {
    height: 132px;
    width: 132px;
    border-radius: 20px;
    cursor: pointer;
}

.friend-request-item-name {
    width: 100%;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    line-height: 2rem;
    height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.friend-request-confirm-btn {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumaquamarine;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.friend-request-delete-btn {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    color: var(--text-color);
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 511px) {
    .friend-request-item {
        width: 127px;
    }

    .friend-request-item-avatar {
        height: 107px;
        width: 107px;
    }
}