/*=============================================
                    CONTAINER
==============================================*/
.view-post-container {
    border: 0.1rem solid rgba(199, 199, 199, 0.6);
    border-radius: 3rem;
    margin-bottom: 2rem;
}