/*=============================================
                MODAL WINDOW
==============================================*/
.create-post-modal {
    display: block;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 209, 209, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
    backdrop-filter: blur(10px);
}

/*=============================================
                MODAL DIALOG
==============================================*/
.create-post-modal-dialog {
    background-color: #fefefe;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(58, 58, 58, 0.1) 0vh 2vh 10vh 0vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* overflow: hidden; */
}

/*=============================================
            MODAL DIALOG HEADER
==============================================*/
.create-post-modal-dialog-header {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.create-post-modal-dialog-title {
    width: 95%;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.create-post-modal-dialog-close-btn {
    width: 5%;
    text-align: right;
    font-size: 1.7rem;
    cursor: pointer;
}
.create-post-modal-dialog-close-btn:hover {
    font-weight: 700;
}

/*=============================================
            MODAL DIALOG BODY
==============================================*/
.create-post-modal-dialog-body {
    padding: 10px 0;
    flex: 1;
}

.create-post-user-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.create-post-user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    cursor: default;
}
.user-name-privacy-container {
    margin-left: 1rem;
}

.user-name {
    font-size: 1.4rem;
    font-weight: 600;
}

.privacy-select-box {
    border-radius: 5px;
    margin-top: 1px;
    padding: 0 5px;
    border: none;
    background-color: rgba(34, 34, 34, 0.2);
}

.privacy-select-box:focus {
    outline: none
}

.post-content-container {
    /* height: 240px; */
    overflow-y: hidden;
}
.post-content-container:hover {
    overflow-y: overlay;
}
.post-content-container::-webkit-scrollbar{
    width:.5rem;
}
.post-content-container::-webkit-scrollbar-thumb{
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 1rem;
}

.post-content-text-area {
    margin: 5px 0 25px 0;
    background-color: transparent;
    border: none;
}

/*=============================================
            MODAL DIALOG FOOTER
==============================================*/
.create-post-modal-dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.create-post-btn {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 1rem;
    height: 4rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(211, 141, 140);
    color:rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============================================
                RESPONSIVE
==============================================*/
@media (max-width: 711px) {
    .create-post-modal-dialog {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}