/*=============================================
            MENU CONTAINER (4/18 HOMEPAGE)
==============================================*/
.menu-container {
    width: calc(100% / 18 * 4) !important;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    margin: 0 2rem;
    padding: 0.5rem 0;
    border-radius: 3rem;
    box-shadow: 50px 0px 93px -11px rgba(250, 163, 163, 0.4);
}

/*=============================================
                MENU BANNER IMAGE
==============================================*/
.menu-banner-container {
    display: flex;
    justify-content: center;
}

.menu-banner {
    /* margin: 8rem 2rem 0 2rem; */
    margin: 0 2rem;
    background-color: rgb(46, 31, 56);
    border-radius: 2rem;
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width: 1024px) {
    .menu-container {
        width: calc(100% / 18 * 6) !important;
    }
}

@media (max-width:911px) {
    .menu-container{
        display: none;     
    }
}