.chillout-footer {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: calc(100% / 15 * 2);
}

.chillout-footer-container {
    padding: 2rem;
}

@media (max-width: 511px) {
    .chillout-footer{
      border-radius: 0;
      height: calc(100% / 15 * 1.2);
    }
}
