/*=============================================
                LIKE QUANTITY
==============================================*/
.likes-quantity {
    width:50%;
    margin-left: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}