/*=============================================
                    POST HEADER
==============================================*/
.post-header {
    padding: 1.7rem 1.7rem 0 1.7rem;
    display: flex;
}

/*=============================================
                    AVATAR
==============================================*/
.avatar-container {
    display: flex;
}
.avatar-image {
    height: 3em;
    width: 3em;
    border-radius: 1.5rem;
    cursor: pointer;
}

/*=============================================
            USER'S NAME AND TIME
==============================================*/
.name-time-container {
    width: 95%;
    padding-left: 1rem;
}
.name-text {
    font-size: 1.05em;
    font-weight: 600;
}
.time-text {
    font-size: 0.8em;
}

/*=============================================
            POST MORE OPTIONS MENU
==============================================*/
.post-options-container {
    margin-left: 1rem;
    width: 5%;
    cursor: pointer;
}