/*=============================================
                    COMMENTS
==============================================*/
.post-comment-container {
    padding: 1rem 1.7rem 0 1.7rem;
    display: flex;
}
.post-comment-avatar {
    height: 3em;
    width: 3em;
    border-radius: 5rem;
    cursor: pointer;
}
.post-comment-username-content-container {
    width: 95%;
    margin-left: 0.7rem;
    padding: 0;
    background-color: rgba(248, 206, 198, 0.5);
    border-radius: 2rem;
}
.post-comment-username {
    margin: 0.7rem 1.7rem 0 1.7rem;
    font-weight: 500;
    cursor: pointer;
}
.post-comment-username:hover {
    text-decoration: underline;
}

.post-comment-content {
    margin: 0 1.7rem 0.7rem 1.7rem;
}
.post-comments-options-container {
    width: 5%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-comment-time {
    margin-top: 0.7rem;
    margin-left: calc(2.4rem + 48px);
    text-align: left;
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}

/* Edit comment */
.comment-input {
    margin: 0 1.7rem 0.7rem 1.7rem;
    background-color: transparent;
    overflow-wrap: break-word;
    border: none;
}

.comment-input:focus {
    outline: none;
}

.edit-comment-buttons-container {
    display: flex;
    margin-top: 0.7rem;
    margin-left: calc(2.4rem + 48px);
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}

.cancel-btn {
    margin-right: 0.5rem;
    cursor: pointer;
}
.cancel-btn:hover {
    text-decoration: underline;
}

.save-btn {
    margin-left: 0.5rem;
    color: rgb(189, 123, 122);
    cursor: pointer;
}
.save-btn:hover {
    text-decoration: underline;
}

/*=============================================
                RESPONSIVE
==============================================*/
@media (max-width: 911px) {
    .post-comment-username-content-container {
        border-radius: 16px;
    }
}