.notification_wrap {
    /* width: 500px;
    margin: 0px 0px 0px 0px; */
    z-index: 10;
}

.notification_wrap .notification_icon {
    width: 10%;
    font-size: large;
    margin: 0 auto;
    text-align: right;
    color: black;
    cursor: pointer;
}

.notification_wrap .notification_icon_effect {
    width: 10%;
    font-size: large;
    margin: 0 auto;
    text-align: right;
    color: red;
    cursor: pointer;
}

.notification_wrap .notification_icon .fa-bell {
    cursor: pointer;
}

.notification_wrap .dropdown {
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
    margin: 0px 0px 0px -168px;
    padding: 15px;
    position: absolute;
    display: block;
    z-index: 3;
    /* transform: translateX(-50%); */
    transform: translateY(5%);
}

.notification_wrap .dropdown .notify_item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child {
    border-bottom: 0px;
}

.notification_wrap .dropdown .notify_item .notify_img {
    margin-right: 15px;
}

.notification_wrap .dropdown .notify_item .notify_info p {
    margin-bottom: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info p span {
    color: #605dff;
    margin-left: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_time {
    color: #c5c5e6;
    font-size: 12px;
}

.notification_wrap .dropdown:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-20%);
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
}