/*=============================================
                FRIENDLIST TITLE
==============================================*/
.friendlist-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    height: 4%;
}

/*=============================================
            FRIENDS SEARCH ROW
==============================================*/
.friends-search-row {
    width: 100%;
    padding: 0 20%;
    text-align: center;
    margin: 1rem 0;
}

/*=============================================
                CONTAINER
==============================================*/
.friendlist-item-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
    padding: 0 10px;
}

.friendlist-item-container:hover {
    overflow-y: overlay;
    scroll-behavior: smooth;
}
.friendlist-item-container::-webkit-scrollbar{
    width:.5rem;
}
.friendlist-item-container::-webkit-scrollbar-thumb{
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 1rem;
}

/*=============================================
                FRIEND ITEM
==============================================*/
.friendlist-item {
    margin: 5px;
    padding: 10px;
    height: 90px;
    width: calc(50% - 1rem);
    background-color: transparent;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 2rem;
    box-shadow: rgba(235, 151, 151, 0.4) 0px 2px 8px 0px;
    overflow: hidden;
}
.friendlist-item-avatar {
    height: 100%;
    border-radius: 2rem;
    cursor: pointer;
}
.friendlist-item-name {
    width: 70%;
    margin: 5px 10px;
    text-align: left;
    cursor: pointer;
    line-height: 2rem;
    max-height: 4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.friendlist-options {
    margin-left: 1rem;
    width: 5%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

/* Responsive */
@media (max-width: 511px) {
    .friendlist-item-container {
        display: flex;
        flex-direction: column;
    }
    
    .friendlist-item {
        width: 100%;
    }
}