/*=============================================
                INTRO CONTAINER
==============================================*/
.intro-container {
    margin: 25px 25px 10px 25px;
    padding: 15px 20px; 
    border: 1px solid rgba(199, 199, 199, 0.6);
    border-radius: 30px;
}

/*=============================================
                INTRO TITLE
==============================================*/
.intro-title {
    font-size: 1.6rem;
    font-weight: 500;
}

/*=============================================
                        BIO
==============================================*/
.intro-bio {
    margin-top: 1rem;
    text-align: center;
    overflow-wrap: break-word;
}

/*=============================================
                    INTRO ITEM
==============================================*/
.intro-item {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
}
.intro-item-icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.intro-item-text {
    font-weight: normal;
    overflow-wrap: break-word;
}

/* Responsive */
@media (max-width: 911px) {
    .intro-container {
        margin: 0;
        /* padding: 0;  */
        /* border: 1px solid rgba(199, 199, 199, 0.6); */
        border-radius: 20px;
    }
}