/*=============================================
                    CONTAINER
==============================================*/
.recent-contacts-container {
    margin: 2rem 2rem 1rem 2rem;
    padding: 1.5rem 2rem; 
    border: 0.1rem solid rgba(199, 199, 199, 0.6);
    border-radius: 3rem;
    height: 48.5%;
}

/*=============================================
                    TITLE
==============================================*/
.recent-contacts-title {
    margin-left: 0.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

/*=============================================
             ITEM CONTAINER
==============================================*/
.recent-contacts-item-container {
    margin-top: 1rem;
}

/*=============================================
                     ITEM
==============================================*/
.recent-contacts-item {
    margin: 0.5rem;
    height: 100%;
    width: calc((100% - 3rem)/3);
    background-color: transparent;
    float: left;
}
.recent-contacts-avatar {
    width: 100%;
    background-color: transparent;
    border-radius: 1rem;
}
.recent-contacts-name {
    margin: 0.5rem 0 0.8rem 0;
    text-align: center;
}
