/*=============================================
                    CONTAINER
==============================================*/
.wall-post-container {
    margin-top: 15px;
    height: 92%;
    padding: 0 15px 15px 15px;
    overflow-y: hidden;
}

.wall-post-container:hover {
    overflow-y: overlay;
    scroll-behavior: smooth;
}
.wall-post-container::-webkit-scrollbar{
    width:.5rem;
}
.wall-post-container::-webkit-scrollbar-thumb{
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 1rem;
}

/*=============================================
                    TITLE
==============================================*/
.post-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    height: 4%;
}

/* Responsive */
@media (max-width: 911px) {
    .wall-post-container {
        margin-top: 10px;
        height: auto;
        padding: 0;
        overflow-y: visible;
        border-radius: 20px;
    }
}