.home-page {
    height: calc(100% / 15 * 11);
    background-color: rgba(255, 255, 255, 0.8) !important;
    display: flex;
}

/*=============================================
                    MENU (4/18)
==============================================*/
.menu-container {
    /* width: calc(100% / 18 * 4 - 1rem) !important; */
    width: calc(100% / 18 * 4) !important;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    margin: 0 2rem;
    padding: 0.5rem 0;
    border-radius: 3rem;
    box-shadow: 50px 0px 93px -11px rgba(250, 163, 163, 0.4);
}
.menu-item-container {
    margin: 1.5em 2rem;
    border: 0.1rem solid rgba(199, 199, 199, 0.6);
    border-radius: 2rem;
    height: 6.5rem;
    display: flex;
    cursor: pointer;
}
.menu-item-container:hover {
    background: linear-gradient(to right, #f8a888 50%, transparent 0);
    animation: makeItfadeIn 1s forwards;
    background-size: 200% 100%;
    background-position: right;
}
@keyframes makeItfadeIn {
    100% {
      background-position: left;
    }
  }
.menu-item-container-active {
    background-color: #f8a888;
    margin: 1.5em 2rem;
    border: 0;
    border-radius: 2rem;
    height: 6.5rem;
    display: flex;
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgba(235, 151, 151, 0.726);
}
.menu-item-icon {
    width: 35%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f8a888;
    background-image: linear-gradient(270deg, #f8a888 0%, rgb(248, 198, 180) 90%);
}
.menu-item-text {
    width: 65%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
}
.menu-banner {
    margin: 0 2rem;
    background-color: rgb(46, 31, 56);
    border-radius: 2rem;
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/*=============================================
                NEWS FEED (10/18)
==============================================*/
.news-feed-container {
    /* width: calc(100% / 18 * 10 + 2rem) !important; */
    width: calc(100% / 18 * 10);
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    margin: 0 2rem;
    padding: 0.5rem 0;
    border-radius: 3rem;
    box-shadow: 0px 79px 93px -11px rgba(250, 163, 163, 0.4);
    overflow-y: hidden;
}
.news-feed-container:hover {
    overflow-y: overlay;
    scroll-behavior: smooth;
}
.news-feed-container::-webkit-scrollbar{
    width:.5rem;
}
.news-feed-container::-webkit-scrollbar-thumb{
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 1rem;
}

.post-container {
    margin: 1.5em 2rem;
    border: 0.1rem solid rgba(199, 199, 199, 0.6);
    border-radius: 3rem;
    font-weight: 490;
    font-size: 0.95em;
}

/* Avatar, user name, created time, privacy */
.user-time-privacy-container {
    padding: 1.7rem 1.7rem 0 1.7rem;
    display: flex;
}

.avatar-container {
    width: 10%;
    display: flex;
}
.avatar-image {
    height: 3em;
    width: 3em;
    border-radius: 1.5rem;
    cursor: pointer;
}

.name-time-privacy-container {
    padding-left: 1rem;
    width: 85%;
}
.name-text {
    font-size: 1.05em;
    font-weight: 600;
}
.time-text {
    font-size: 0.8em;
}
.post-options-container {
    margin-left: 1rem;
    width: 5%;
    cursor: pointer;
}

/* Post content */
.post-content-container {
    padding: 1.5rem 1.7rem 0 1.7rem;
}

/* Photo */
.post-photo-container {
    margin: 1.5rem 1.7rem 1.7rem 1.7rem;
    width: auto;
    position: relative;
    display: block;
    padding-bottom: 93.5%;
  }
.post-photo {
    position: absolute;
    border-radius: 3rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Like and comment */
.like-container {
    padding: 0 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.likes-quantity {
    width:50%;
    margin-left: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}
.comment-quantity {
    width: 50%;
    font-weight: 600;
    text-align: right;
    cursor: pointer;
}

/*=============================================
                    COMMENTS
==============================================*/
.post-comment-container {
    padding: 1rem 1.7rem 0 1.7rem;
    display: flex;
}
.post-comment-avatar {
    height: 3em;
    width: 3em;
    border-radius: 5rem;
    cursor: pointer;
}
.post-comment-username-content-container {
    width: 80%;
    margin-left: 0.7rem;
    padding: 0;
    background-color: rgba(248, 206, 198, 0.5);
    border-radius: 2rem;
}
.post-comment-username {
    margin: 0.7rem 1.7rem 0 1.7rem;
    font-weight: 500;
}
.post-comment-content {
    margin: 0 1.7rem 0.7rem 1.7rem;
}
.post-comments-options-container {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============================================
             CREATE COMMENT TEXT BOX
==============================================*/
.write-comment-container {
    padding: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-current-user-comment {
    height: 3em;
    width: 3em;
    border-radius: 5rem;
    cursor: pointer;
}
.comment-text-area-button-container {
    width: 100%;
    margin-left: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: rgba(248, 206, 198, 0.5);
}
.comment-text-area {
    margin: 0.5rem;
    background-color: transparent;
    border: none;  
}
.send-comment-button {
    height: 2em;
    width: 2em;
    cursor: pointer;
    margin-right: 0.7rem;
}

/*=============================================
                    CONTACTS (4/18)
==============================================*/
.contacts-container {
    /* width: calc(100% / 18 * 4 - 1rem) !important; */
    width: calc(100% / 18 * 4) !important;
    background-color: rgba(253, 199, 189, 0.5);
    height: 100%;
    margin: 0 2rem;
    padding: 2rem;
    border-radius: 3rem;
    color: rgba(0, 0, 0, 1);
    overflow-y: hidden;
}
.contacts-container:hover {
    overflow-y: overlay;
    scroll-behavior: smooth;
}
.contacts-container::-webkit-scrollbar{
    width:.5rem;
}
.contacts-container::-webkit-scrollbar-thumb{
    background-color: rgba(248, 168, 136, 0.6);
    border-radius: 1rem;
}

.contacts-title {
    font-size: 1em;
    font-weight: 700;
}

.contacts-item-container {
    margin: 2rem 0;
    border-radius: 2rem;
    height: 6.5rem;
    display: flex;
    cursor: pointer;
}
.contacts-item-avatar {
    width: 35%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.contacts-item-text-container {
    width: 50%;
    height: 100%;
    background-color: transparent;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
}
.contacts-first-name {
    height: 50%;
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    font-weight: 700;
}
.contacts-username {
    height: 50%;
    display: flex;
    align-items: flex-start;
    font-size: 0.9em;
    color: rgba(44, 44, 44, 0.7);
}

/* @media (max-width: 511px) {
    .home-page{
      border-radius: 0;
      height: calc(100% / 15 * 12.6);
    }
} */