.home-page {
    height: calc(100% / 15 * 11);
    background-color: rgba(255, 255, 255, 0.8) !important;
    display: flex;
}

/*=============================================
                    MENU (4/18)
==============================================*/
.menu-container {
    width: calc(100% / 18 * 4 - 1rem) !important;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    margin: 0 2rem;
    padding: 0.5rem 0;
    border-radius: 3rem;
    box-shadow: 50px 0px 93px -11px rgba(255, 163, 163, 0.24);
}
.menu-item-container {
    margin: 1.5em 2rem;
    border: 0.1rem solid rgba(199, 199, 199, 0.6);
    border-radius: 2rem;
    height: 6.5rem;
    display: flex;
    cursor: pointer;
}
.menu-item-container:hover {
    background-color: #f8a888;
}
.menu-item-container-active {
    background-color: #f8a888;
    margin: 1.5em 2rem;
    border: 0;
    border-radius: 2rem;
    height: 6.5rem;
    display: flex;
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgba(235, 151, 151, 0.726);
}
.menu-item-icon {
    width: 35%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f8a888;
    background-image: linear-gradient(270deg, #f8a888 0%, rgb(248, 198, 180) 90%);
}
.menu-item-text {
    width: 65%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
}

/*=============================================
                NEWS FEED (10/18)
==============================================*/
.news-feed-container {
    width: calc(100% / 18 * 10 + 2rem) !important;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    margin: 0 1rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0px 79px 93px -11px rgba(255, 163, 163, 0.24);
}

/*=============================================
                    CONTACT (4/18)
==============================================*/
.contact-container {
    width: calc(100% / 18 * 4 - 1rem) !important;
    background-color: rgba(248, 206, 198, 0.74);
    height: 100%;
    margin: 0 2rem;
    padding: 2rem;
    border-radius: 3rem;
}


/* @media (max-width: 511px) {
    .home-page{
      border-radius: 0;
      height: calc(100% / 15 * 12.6);
    }
} */